/* Fonts */

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v48-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v48-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

.container {
  width: 1278px;
  margin: 0 auto;
  border: 1px solid #f00;
}

/* Header */
.header {
  padding: 40px 0;
  background-color: #66D1FF;



}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}





/* Promo */
.promo {
  text-align: center;
  color: #fff;
  background-image: url(../images/promo.png);
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

/* Options */
.options {
  text-align: center;


}

.options-item {

  flex-wrap: nowrap;
}

/* Go */
.go {
  text-align: center;
}
.go-wrap {

  display: flex;
}

/* Footer */
.footer {

  background-color: #000000;

}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.copyright {
  color: #fff;
}

.social {
  color: #fff;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}
.social-item {
  margin-left: 20px;
}

.social-link {
  display: block;
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
