/* Fonts */

/* oswald-500 - latin_cyrillic */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/oswald-v48-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/oswald-v48-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v24-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Common */
body {
  font-family: 'Montserrat', sans-serif;
}

/* Header */
.header {
  background-color: #66D1FF;
}

.header-button {
  color: #060D10;
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
  text-decoration: none;
}

.header-b {
  color: #060D10;
  font-size: 28px;
  line-height: 34px;
  font-weight: 500;
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
}

/* Promo */
.promo-h1 {
  font-family: 'Oswald',sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 89px;
  color: #FFFFFF;
  text-shadow: 1px 1px 2px #060D10;
}

.promo-p {
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
text-shadow: 1px 1px 2px #060D10;
}

/* Lead */

/* Options */

/* Order */

/* Footer */
